body{
    background-color:#ffffff ;
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
}

nav ul{
    background-color: #bd5757;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 5%;

}

nav li{
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 2%
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    background-color: none;
    color: #000000;

}

div {
    background-color: white;
    text-align: center;
}

.window{
    background-color: white;
}

.positions-navbar{
    
}

.laws-navbar{

}

.union-table{
    
}

.tornaments-container{
    border: 2px solid #ececec ;
    background-color: #ededed;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:5px;

}

.world-cup{
    background-color: #b37a7a;
    text-align: center; 
    flex: 1 0 250px;
    margin: 10px;

}

.six-nations{
    background-color: #378d62;
    text-align: center; 
    flex: 1 0 250px;
    margin: 10px;
}

.autumn-nations{
    background-color: #6b3ea7;
    text-align: center; 
    flex: 1 0 250px;
    margin: 10px;
}

.card-container{
    border: 2px solid #ececec ;
    background-color: #ededed;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:5px;

}

.yellow-card{
    background-color: #ffd900;
    text-align: center; 
    flex: 1 0 250px;
    margin: 10px;
    

}

.red-card{
    background-color: #ff0000ec;
    text-align: center;
    flex: 1 0 250px;
    margin: 10px;
}